textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 17px;
}




.Des-Buttons{
  justify-content: center;
  button{
    margin-right: 10px;
    background-color: #6acc00;
    color: white;
    border-radius: 21px;
    border: 1px solid #fff;
    padding: 6px 19px;
    font-size: 19px;
  }
}


